<div class="gap-10 flex items-center h-screen w-screen justify-center">
    <p class="text-2xl font-mono">まずは料理レベルを診断してみよう</p>
    <button class="inline-flex h-12 items-center rounded-md bg-neutral-950 px-6 font-medium text-neutral-50 transition active:scale-110 ">診断する</button>
</div>