<footer class="bg-zinc-50 text-center dark:bg-neutral-700 lg:text-left">
  <div class="bg-black/5 p-4 flex justify-center items-center gap-4 text-surface dark:text-white">
      <p>利用規約</p>
      <p>プライバシーポリシー</p>
      <p>お問い合わせ</p>  
  </div>
</footer>